<h1>Please Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= text_field :username, params[:username], :placeholder => "Username" %> 
  </div>
  <div class="field">
    <%= password_field_tag :password, :placeholder => "Password" %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>