/* Global variable */
/* Home */
/* line 6, C:/Ruby/porto/app/assets/stylesheets/home.scss */
.logo {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

/* line 11, C:/Ruby/porto/app/assets/stylesheets/home.scss */
ul {
  display: block;
}

/* line 14, C:/Ruby/porto/app/assets/stylesheets/home.scss */
#myself {
  width: 15rem;
  height: 3rem;
  color: #2F94D2;
  border: 0px;
  font-weight: bold;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 50%;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 2px #2F94D2;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
/* line 36, C:/Ruby/porto/app/assets/stylesheets/home.scss */
#myself .arrow-down {
  clear: both;
  display: block;
  position: relative;
  content: " ";
  height: 0;
  width: 0;
  padding: 0;
  margin: -8px;
  left: 50%;
  top: 10px;
  border: 8px solid transparent;
  border-top-color: #2F94D2;
  border-bottom-color: transparent;
}
/* line 51, C:/Ruby/porto/app/assets/stylesheets/home.scss */
#myself .click-me {
  margin-top: 1rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1.2rem;
  border-radius: 2rem;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 62, C:/Ruby/porto/app/assets/stylesheets/home.scss */
#myself .line {
  width: 15rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 50%;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

/* line 75, C:/Ruby/porto/app/assets/stylesheets/home.scss */
#myself:hover {
  background: #2F94D2;
  color: #FFF;
  width: 35rem;
  height: 8px;
  max-width: 90%;
}

/* line 83, C:/Ruby/porto/app/assets/stylesheets/home.scss */
.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* line 91, C:/Ruby/porto/app/assets/stylesheets/home.scss */
.layer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  width: 100%;
  height: 100%;
}

/* line 99, C:/Ruby/porto/app/assets/stylesheets/home.scss */
footer {
  bottom: 0px;
  padding: 1.5rem;
  position: absolute;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* line 3, C:/Ruby/porto/app/assets/stylesheets/main.scss */
*, *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* line 9, C:/Ruby/porto/app/assets/stylesheets/main.scss */
html {
  overflow: hidden;
}

/* line 13, C:/Ruby/porto/app/assets/stylesheets/main.scss */
body {
  background: url("/assets/lil_fiber-859012e36ffdf6f3204e4f74b8fbc93d5a04c48efdfb7258b6dce9601324a330.png");
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: block;
}

/* line 22, C:/Ruby/porto/app/assets/stylesheets/main.scss */
p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

/* line 27, C:/Ruby/porto/app/assets/stylesheets/main.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 33, C:/Ruby/porto/app/assets/stylesheets/main.scss */
a {
  color: #000;
}
/* line 36, C:/Ruby/porto/app/assets/stylesheets/main.scss */
a:visited {
  color: #666;
}
/* line 40, C:/Ruby/porto/app/assets/stylesheets/main.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 47, C:/Ruby/porto/app/assets/stylesheets/main.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, C:/Ruby/porto/app/assets/stylesheets/main.scss */
#notice {
  color: green;
}

/* line 56, C:/Ruby/porto/app/assets/stylesheets/main.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, C:/Ruby/porto/app/assets/stylesheets/main.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, C:/Ruby/porto/app/assets/stylesheets/main.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 81, C:/Ruby/porto/app/assets/stylesheets/main.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

