<p id="notice"><%= notice %></p>

<h1>Listing Portfolios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Describtion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.name %></td>
        <td><%= portfolio.describtion %></td>
        <td><img src="<%= url_for(:controller => "documents", 
                      :action => "show", 
                      :id => portfolio.document_id) %>" width="200" height="200"/></td>
        <td><%= link_to 'Show', portfolio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio', new_portfolio_path %>