<header>
  <div class="logo">
    <p>Antares</p>
  </div>
  <nav class="menu not-active">
    <ul class="main-menu">
      <li class="animated">
        <a href="#">Home</a>
      </li>
      <li class="animated">
        <a href="#">About Me</a>
      </li>
      <li class="animated">
        <a href="<%= url_for(:controller => "portfolios", :action => "index") %>">Portfolios</a>
      </li>
    </ul>
  </nav>
  <div class="icon-menu menu">
    <div class="burger"></div>
  </div>
</header>
<section id="main">    
  <figure class="profile">
    <%= image_tag("arif.png", :alt => "Foto Arifatul Ronansyah") %>
  </figure>
  <button id="myself" class="not-active-me">
    <p>Me</p>
    <span class="arrow-down"></span>
  </button>
  <div id="close-me">Arifatul Ronansyah</div>

<!--
  <div class="porto_container">
    <% @portfolios.each do |portfolio| %>
      <div class="porto_grid col-3 clearfix">
        <div class="cover">
          <p class="image-title">
            <a href="<%= url_for(:controller => 'portfolios', 
                        :action => 'show', 
                        :id => portfolio.id) %>">
              <%= portfolio.name %>
            </a>
          </p>
        </div>
        <img src="<%#= url_for(:controller => "documents", 
                      :action => "show", 
                      :id => portfolio.document_id) %>"/>
      </div>
    <% end %>
  </div>
-->
</section>