<%= form_for([:admin, @portfolio]) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :describtion %><br>
    <%= f.text_area :describtion %>
  </div>
  <%= image_tag '', class: 'image_to_upload', width: 200, height: 200 %>

  <div class="field">
    <%= f.file_field :file, class: 'photo_upload'  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
