<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>

<section class="group">
  <%= debug(@portfolios) %>
  <% @portfolios.each do |portfolio| %>
  <div class="col-4">
    <div class="portfolios">
      <img src="<%= url_for(:controller => "documents", 
            :action => "show", 
            :id => 4) %>" width="100%"/>
      <div class="desc">
        <h2><%= portfolio.name %></h2>
        <p><%= portfolio.describtion %></p>
        <p><%= portfolio.created_at %></p>
      </div>
      <div><%= link_to 'Show', admin_portfolio_path(portfolio) %></div>
      <div><%= link_to 'Edit', edit_admin_portfolio_path(portfolio) %></div>
      <div><%= link_to 'Destroy', admin_portfolio_path(portfolio), method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
  <% end %>
  <%#= Time.zone.now %>
</section>

<%= link_to 'New Portfolio', new_admin_portfolio_path %>

<div id="fizzbuzz">
  <% for i in 1..100
    #Not Modulus 3 || 5
    mod3 = i%3 == 0
    mod5 = i%5 == 0

    default = mod3 || mod5 ? "" : i
    fizz = mod3 ? "Fizz" : default
    result = mod5 ? "#{fizz}Buzz" : fizz %>
    <p><%#= result %></p>
  <% end %>
</div>

<style type="text/css">
  #fizzbuzz > p {
    display: inline-block;
    padding: 10px;
  }
</style>