<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Describtion:</strong>
  <%= @portfolio.describtion %>
</p>

<%= link_to 'Edit', edit_admin_portfolio_path(@portfolio) %> |
<%= link_to 'Back', admin_portfolios_path %>
