<%= form_for([:admin, @document]) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag '', class: 'image_to_upload', width: 200, height: 200 %>

  <div class="field">
    <%= f.file_field :file, class: 'photo_upload'  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
