<h1>List Images</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><img src="<%= url_for(:controller => "documents", 
                      :action => "show", 
                      :id => document.id) %>" width="200" height="200"/>;</td>
        <td><%= link_to 'Show', document %></td>
        <td><%= button_to 'Download', document, method: :get %></td>
          <td><%= button_to 'Destroy', admin_document_path(document), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_admin_document_path %>
