/* Global variable */
// $main-color: #2F94D2;
$main-color: #333333;
@mixin transform($translate) {
  -webkit-transform: $translate;
     -moz-transform: $translate;
      -ms-transform: $translate;
          transform: $translate;
}

// Header
.logo {
  background: #333;
  z-index: 1000;
  overflow: hidden;
  top: -40px;
  left: -80px;
  transform: rotate(-45deg);
  width: 200px;
  height: 100px;
  display: table;
  position: fixed;
}
.logo > p {
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 0px 15px 10px 0px;
}
.menu {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: -105px;
  height: 147px;
}
ul.main-menu {
  display: none;  
  list-style: none;
  transform: rotate(-45deg);
  text-align: center;
  width: 400px;

  li {
    border-bottom: 1px solid #fff;
    position: relative;
    width: 100%;
    background: #333;

    a {
      width: 100%;
      height: 100%;
      padding: 10px;
      display: block;
      color: #fff;
      text-decoration: none;
    }
    &:nth-child(1) {
      @include transform(translateY(0%));
    }
    &:nth-child(2) {
      @include transform(translateY(100%));
    }
    &:nth-child(3) {
      @include transform(translateY(200%));
    }
  }
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
  }
}

@keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}
.active-menu {
  // transform: translateY(-100%);
  // bottom: -87px;
}
.not-active-menu {
  // transform: translateY(100%);
  // bottom: 0px;
}
// animation
@-webkit-keyframes menu {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.icon-menu {
  background: #333;
  z-index: 1000;
  overflow: hidden;
  bottom: -40px;
  right: -80px;
  transform: rotate(-45deg);
  width: 200px;
  height: 100px;
  cursor: pointer;
  position: fixed;
}
.burger {
  width: 20px;
  height: 2px;
  padding: 2px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 25px auto;
  display: block;
  transform: rotate(45deg);
}

// Content
#myself {
  width: 15rem;
  height: 3rem;
  max-width: 90%;
  color: $main-color;
  border: 0px;
  font-weight: bold;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 50%;
  border-radius: 2rem;

  box-shadow: inset 0 0 0 2px $main-color;
  background-color: transparent;

  transition: all 0.3s ease-in-out;

  cursor: pointer;
  text-decoration: none;
  outline: none;

  .arrow-down {
    clear: both;
    display: block;
    position: relative;
    content: " ";
    height: 0;
    width: 0;
    padding: 0;
    margin: -8px;
    left: 50%;
    top: 10px;
    border: 8px solid transparent;
    border-top-color: $main-color;
    border-bottom-color: transparent;
    opacity: 0;
  }
  .line {
    width: 15rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    opacity: 0;
  }
}
#myself:hover {
  background: $main-color !important;
  color: #FFF !important;
}
.active-me {
  width: 35rem !important;
  height: 8px !important;
  // color: transparent !important;
  // background: #333 !important;
}
.not-active-me {
  width: 15rem !important;
  height: 3rem !important;
  // color: #333 !important;
  // background: transparent !important;
}
#close-me {
  display: none;
  margin-top: 0.5rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1.2rem;
  border-radius: 2rem;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 0;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  top: 50%;
  margin-top: 10px;
}
#close-me:hover:after {
  left: 0%;
}
#close-me:after {
  content: "";
  background: #333;
  background-image: url(image_path('closed.png'));
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) !important;
  top: 20px;
  opacity: 1 !important;
  width: 35%;
  overflow: hidden;
}
.profile > img {
  width: 100%;
  top: 100%;
  position: relative;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.porto_container {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 100%;
  padding: 10px 20px 0 20px;
  transform: translateX(-50%);

  .porto_grid {
    position: relative;
    text-align: center;
    max-height: 175px;
    overflow: hidden;
        
    .image-title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80%;
      background: rgba(51,51,51,0.5);
      color: #fff;
      border-radius: 2rem;
        
        &:hover {
            background: rgba(51,51,51,1);
        }
        a {
            text-decoration: none;
            color: #fff;
            padding: 15px;
            display: block;
            
            &:hover {
                transition: all 0.3s ease-in-out;
            }
        }
    }
    img {
      width: 100%;
    }
  }
}

// For Column responsive
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}