@import url(https://fonts.googleapis.com/css?family=Raleway);

//Translate
@mixin transform($translate) {
  -webkit-transform: $translate;
     -moz-transform: $translate;
      -ms-transform: $translate;
          transform: $translate;
}

*, *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: url(image_path('lil_fiber.png'));
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: block;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #333;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: white;
  background: #49CC49;
  padding: 10px 15px;
  position: fixed;
  left: 50%;
  border-radius: 2px;
  display: none;
  @include transform(translateX(-50%));
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  display: block;
  
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Header 
nav.admin-menu {
  background: #333333;    
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
  h1 {
    width: 150px;
    padding: 10px;
    
    a {      
      color: #fff;
      text-decoration: none;
    }
  }
  
  ul {
    li {
      display: inline-block;
      color: #fff;
      float: left;
      text-align: center;
      padding: 0 10px 0 10px;
      
      a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        display: block;
      }
    }
  } 
}

// Content
.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
input[type="text"] {
    padding: 5px;    
}

// Footer
footer {
  bottom: 0px;
  padding: 1.5rem;
  position: absolute;

  p {
    font-size: 0.8rem;
  }
  #copyright {
    background: #333;
    color: #fff;
    // border-radius: 50%;
    font-size: 0.8rem;
    padding: 5px 2px;
    margin-right: 12px;

    &:before {
      content: "";
      border: solid;
      border-color: #333 transparent;
      border-width: 0px 0px 25px 15px;
      position: absolute;
      left: 9px;
      top: 20px;
    }
    &:after {
      content: "";
      border: solid;
      border-color: transparent #333;
      border-width: 0px 0px 25px 15px;
      position: absolute;
      left: 37px;
      top: 20px;
    }
  }
}
