<nav class="admin-menu clearfix">
  <h1 class="left"><a href="/">Antares</a></h1>
  <% if current_user %>
    <ul class="right">
      <li><%= link_to current_user.username %></li> 
      <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
    </ul>
  <% else %>
    <ul class="right"> 
      <li><%= link_to "Login", 'login' %></a></li> 
      <li><%= link_to "Signup", 'signup' %></a></li> 
    </ul>
  <% end %>
</nav>